.two-columns {
    display: flex;
    justify-content: space-between; /* св-во для равномерного распределения всех элементов по ширине flex-блока.Первый элемент прижат слева, последний-прижат вправо */
    width: 80%;
  }
